<header>
  <h1>Reddit Explorer - javascript </h1>
</header>



<nav>
  {{#link-to "index"}}
    Home
  {{/link-to}}
  {{#link-to "posts"}}
    posts
  {{/link-to}}
</nav>


 {{outlet}}

<footer>
  <p>&copy; Reddit </p>
</footer>
